body {
  margin:0;
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background: linear-gradient(#0f2027,#2c5364);
  font-family: Arial;
}

.card {
  background: rgba(255,255,255,0.1);
  padding:20px;
  border-radius:15px;
  width:300px;
  text-align:center;
}

input {
  width:100%;
  margin:5px 0;
  padding:8px;
}

button {
  margin-top:5px;
  padding:8px;
  width:100%;
  border:none;
  background:#00c6ff;
  color:white;
  border-radius:6px;
}

.logout {
  background:red;
}

.file {
  margin-top:10px;
  padding:10px;
  background: rgba(255,255,255,0.1);
  border-radius:10px;
}
